#Ignore build files
/build
/dist
/.vscode
sdkconfig
sdkconfig.old
.vscode
*.pyc
ServerConfigurator/dist
ServerConfigurator/build
ServerConfigurator/esp_prov/bin
ServerConfigurator/esp_prov/lib
ServerConfigurator/esp_prov/pyvenv.cfg