menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "GFAST"
    help
        SSID (network name) for my test network

config WIFI_PASSWORD
    string "WiFi Password"
    default "Gfast2304233"
    help
        WiFi password (WPA or WPA2) for my test network

config BLINK_GPIO
    int "Blink GPIO number"
	range 0 34
	default 5
	help
		GPIO number (IOxx) to blink on and off.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

endmenu
